@layer theme, base, components, pages, utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "./base.css" layer(base);
@import "./components.css" layer(components);

@import "tailwindcss";

@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@import "@fontsource/nunito/latin.css";
@import "../icons/fontawesome/css/all.css";
@import "../icons/fontawesome/css/jelly-regular.css";

@import "./pages.css" layer(pages);
@import "highlight.js/styles/atom-one-dark.css" layer(components); /* Just for demo purpose only for highlighting code */

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans                  : "Nunito", ui-sans-serif, system-ui, sans-serif;
    --font-inter                 : "Nunito", ui-sans-serif, system-ui, sans-serif;

    --color-primary-light        : #5ba3d9;
    --color-primary              : #297bbf;
    --color-primary-focus        : #1e5a8a;
    
    --color-secondary-light      : #ff57d8;
    --color-secondary            : #f000b9;
    --color-secondary-focus      : #bd0090;

    --color-accent-light         : #818cf8;
    --color-accent               : #5f5af6;
    --color-accent-focus         : #4d47f5;

    --color-info                 : #0ea5e9;
    --color-info-focus           : #0284c7;

    --color-success              : #10b981;
    --color-success-focus        : #059669;

    --color-warning              : #ff9800;
    --color-warning-focus        : #e68200;

    --color-error                : #ff5724;
    --color-error-focus          : #f03000;

    --shadow-soft                : 0 3px 10px 0 rgb(48 46 56 / 6%);
    --shadow-soft-dark           : 0 3px 10px 0 rgb(25 33 50 / 30%);

    --text-tiny                  : 0.625rem;
    --text-tiny--line-height     : 0.8125rem;

    --text-tiny-plus             : 0.6875rem;
    --text-tiny-plus--line-height: 0.875rem;

    --text-xs-plus               : 0.8125rem;
    --text-xs-plus--line-height  : 1.125rem;

    --text-sm-plus               : 0.9375rem;
    --text-sm-plus--line-height  : 1.375rem;

    --animate-shimmer            : shimmer 2s linear infinite;

    @keyframes shimmer {
        from {
            background-position: 0 0;
        }
        to {
            background-position: -200% 0;
        }
    }
}

@layer base {
    @keyframes fade-out {
        0% {
            opacity: 1;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@custom-variant hover (&:hover);
