.apexcharts-text {
  @apply fill-current font-inter! text-gray-500 dark:text-gray-200;
}

.apexcharts-text.apexcharts-yaxis-label,
.apexcharts-text.apexcharts-xaxis-label {
  @apply fill-current! text-gray-400 dark:text-gray-300;
}

.apexcharts-legend-text {
  @apply text-gray-500! dark:text-gray-200!;
}

.apexcharts-legend-series .apexcharts-legend-text {
  @apply ml-2!;
}

.apexcharts-tooltip {
  @apply border-gray-200! bg-white/[.85]! text-gray-700!
   shadow-none! dark:border-gray-600! dark:bg-gray-700/[.85]! dark:text-gray-50!;
}

.apexcharts-tooltip-title {
  @apply border-gray-200!  bg-gray-200! dark:border-transparent! dark:bg-gray-900!;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply rounded-sm border-gray-300! bg-gray-200! text-gray-600! dark:border-gray-600!
   dark:bg-gray-900! dark:text-gray-100!;
}

.apexcharts-xaxistooltip:before {
  @apply border-b-current! text-gray-300 dark:text-gray-600!;
}

.apexcharts-xaxistooltip:after {
  @apply border-b-current! text-gray-200 dark:text-gray-900;
}

.apexcharts-yaxistooltip:before {
  @apply border-l-current! text-gray-300 dark:text-gray-600;
}

.apexcharts-yaxistooltip:after {
  @apply border-l-current! text-gray-200 dark:text-gray-900;
}

.apexcharts-canvas .apexcharts-heatmap-rect,
.apexcharts-canvas .apexcharts-xaxis-tick,
.apexcharts-canvas line {
  @apply stroke-current! text-gray-200 dark:text-gray-500;
}

.apexcharts-canvas .apexcharts-marker {
  @apply stroke-current! text-gray-200 dark:text-gray-800;
}

.apexcharts-canvas .apexcharts-radialbar-track .apexcharts-radialbar-area {
  @apply stroke-current! text-gray-200 dark:text-gray-900;
}

.apexcharts-canvas .apexcharts-datalabels-group .apexcharts-datalabel-label {
  @apply fill-gray-600 dark:fill-gray-100 font-inter ;
}

.apexcharts-canvas .apexcharts-datalabels-group .apexcharts-datalabel-value, .apexcharts-canvas .apexcharts-datalabels .apexcharts-datalabel {
  @apply fill-gray-500 dark:fill-gray-200 font-inter ;
}

.apexcharts-canvas .apexcharts-radar-series polygon {
  @apply fill-gray-100 stroke-gray-200 dark:fill-gray-800 dark:stroke-gray-600;
}

.apexcharts-canvas .apexcharts-pie .apexcharts-pie-series .apexcharts-pie-area {
  stroke: none;
}

.apexcharts-canvas line[stroke="transparent"] {
  @apply hidden;
}

.apexcharts-menu {
  @apply rounded-sm! border-gray-200! bg-white! dark:border-gray-500! dark:bg-gray-700!;
}

.apexcharts-menu .apexcharts-menu-item:hover {
  @apply bg-gray-100! dark:bg-gray-600!;
}

.ax-transparent-gridline .apexcharts-gridline{
  stroke: transparent !important;
}

.ax-rounded-b-lg .apexcharts-svg{
  @apply rounded-b-lg
}